n8n-workflows/02_reporte_diario_whatsapp.json
{
  "name": "📊 Reporte Diario 8PM -> WhatsApp Grupo",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "abd531b0-1af9-40b3-a8f8-f44dee2f92af",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://goeasyflorida.com/api/cron/daily-report",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_CRON_SECRET"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        250,
        0
      ],
      "id": "23915a4c-6dba-48b5-8a39-db03891bf7cc",
      "name": "Obtener Reporte del CRM"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolutionib.ideasbeta.com/message/sendText/IB Prueba",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "E40F1C1E8028-4A4B-8941-F5EDD72F5FD5"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "120363425734892399@g.us"
            },
            {
              "name": "text",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        500,
        0
      ],
      "id": "72c8ddf3-d60c-4954-b9e2-1c712bc00cc5",
      "name": "Enviar a WhatsApp"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Obtener Reporte del CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Reporte del CRM": {
      "main": [
        [
          {
            "node": "Enviar a WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "America/Bogota"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}